<div id="login">
  <h2><%= render_or_call_method_or_proc_on(self, active_admin_application.site_title) %> <%= title t('active_admin.devise.login.title') %></h2>
  <div style="text-align: center">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= button_to t('active_admin.devise.links.sign_in_with_omniauth_provider', provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
    <% end -%>
  </div>
</div>
